<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> </title>
</head>
<body>
    <div>
        <p>
            親愛的同事:
        </p>
        <p>
            車輛 <span name="CarNumber" style='color:blue;'></span> 已由 <span name="UpdatePersonName" style='color:blue;'></span> 進行車輛事故登記。
        </p>
        <p>
            事故時間：<span name="AccidentDatetime" style='color: blue;'></span>
        </p>
        <p>
            事故描述：<br /><span name="AccidentContent" style='color: blue;'></span>
        </p>
        <p>
            您可至 EIP 網站 車輛作業->事故登記 進一步查看，謝謝。
        </p>
    </div>
    <p>Best Regards,</p>
    <p>--------------------------</p>
    <p>GoodSleepEIP ASSIST, DIGI-FREEAIR</p>
</body>
</html>