<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> </title>
</head>
<body>
    <div>
        <p>
            親愛的同事:
        </p>
        <p>
            <span name="RespPersonName" style='color:blue;'></span> 所負責清潔的區域『<span name="ViolationArea" style='color:blue;'></span>』經查核後，不符合清潔規範。
        </p>
        <p>
            查核說明：<br /><br /><span name="CheckDesc" style='color: blue;'></span>
        </p>
        <p>
            請您在清潔改善後，至 EIP 網站 清潔查核 進行回覆，謝謝您的配合。
        </p>
    </div>
    <p>Best Regards,</p>
    <p>--------------------------</p>
    <p>GoodSleepEIP ASSIST, DIGI-FREEAIR</p>
</body>
</html>