<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> </title>
</head>
<body>
    <div>
        <p>
            親愛的同事:
        </p>
        <p>
            今日有一份公文與您有關，來文單位為：<span name="DocInUnit" style='color:blue;'></span>
        </p>
        <p>
            公文主旨：<span name="DocInSubject" style='color:blue;'></span>
        </p>
        <p>
            公文如附件，您也可至 EIP 網站 公文管理->來文 下載。
        </p>
    </div>
    <p>Best Regards,</p>
    <p>--------------------------</p>
    <p>GoodSleepEIP ASSIST, DIGI-FREEAIR</p>
</body>
</html>