<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> </title>
</head>
<body>
    <div>
        <p>
            親愛的同事:
        </p>
        <p>
            同仁 <span name="PersonName" style='color:blue;'></span> 發出發票開立通知，請行政管理部依其要求核對後開立，以下為發票開立資訊：<br />
        </p>
        <p>
            專案代號：<span name="ProjectNo" style='color:blue;'></span><br />
            專案名稱：<span name="ProjectName" style='color:blue;'></span><br />
        </p>
        <p>
            發票類型：<span name="InvoiceType" style='color:blue;'>二聯式</span><br />
            發票抬頭：<span name="InvoiceTitle" style='color:blue;'></span><br />
            統編：<span name="TaxID" style='color:blue;'></span><br />
            發票備註欄：<span name="InvoiceRemark" style='color:blue;'></span><br /><br />
            發票項目：<br />
            <table border="1" id="InvoiceDetails">
                <tr>
                    <td>品名</td>
                    <td>數量</td>
                    <td>單價</td>
                    <td>金額(含稅)</td>
                </tr>
            </table>
            發票總額(含稅)：<span name="TotalAmount" style='color:blue;'></span><br /><br />
            通知額外說明：<br /><span name="NotifyMemo" style='color:blue;'></span>
        </p>
    </div>
    <p>Best Regards,</p>
    <p>--------------------------</p>
    <p>GoodSleepEIP ASSIST, DIGI-FREEAIR</p>
</body>
</html>