<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> </title>
</head>
<body>
    <div>
        <p>
            親愛的同事:
        </p>
        <p>
            行政管理部已開立發票，請核對以下發票資訊，紙本發票已放至您的信箱(南辦則由專人轉交或郵寄)，若無收到請聯繫行政管理部。：<br />
        </p>
        <p>
            發票號碼：<span name="InvoiceNumber" style='color:blue;'></span><br />
            發票日期：<span name="InvoiceDate" style='color:blue;'></span><br />
        </p>
        <p>
            專案代號：<span name="ProjectNo" style='color:blue;'></span><br />
            專案名稱：<span name="ProjectName" style='color:blue;'></span><br />
        </p>
        <p>
            發票類型：<span name="InvoiceType" style='color:blue;'>二聯式</span><br />
            發票抬頭：<span name="InvoiceTitle" style='color:blue;'></span><br />
            統編：<span name="TaxID" style='color:blue;'></span><br />
            發票備註欄：<span name="InvoiceRemark" style='color:blue;'></span><br /><br />
            發票項目：<br />
            <table border="1" id="InvoiceDetails">
                <tr>
                    <td>品名</td>
                    <td>數量</td>
                    <td>單價</td>
                    <td>金額(含稅)</td>
                </tr>
            </table>
            發票總額(含稅)：<span name="TotalAmount" style='color:blue;'></span><br /><br />
            通知額外說明：<br /><span name="NotifyMemo" style='color:blue;'></span>
        </p>
    </div>
    <p>Best Regards,</p>
    <p>--------------------------</p>
    <p>GoodSleepEIP ASSIST, DIGI-FREEAIR</p>
</body>
</html>