.layout-menu-dark {
    --menu-bg: var(--p-surface-950);
    --root-menuitem-text-color: rgba(255, 255, 255, 0.6);
    --menuitem-text-color: rgba(255, 255, 255, 0.87);
    --menuitem-hover-bg: hsla(0, 0%, 100%, 0.15);   //原本透明度0.04不夠明顯，改為0.15
    --active-menuitem-text-color: rgba(255, 255, 255, 0.87);
    --active-menuitem-bg: hsla(0, 0%, 100%, 0.15);  //原本透明度0.04不夠明顯，改為0.15
    --inline-menu-border-color: hsla(0, 0%, 100%, 0.12);
}
