.layout-topbar-light {
    --topbar-bg: #ffffff;
    --topbar-menu-button-bg: #ffffff;
    --topbar-menu-button-text-color: #777777;
    --topbar-item-text-color: var(--p-surface-500);
    --topbar-border-color: var(--p-content-border-color);
}
