.layout-topbar-dark {
    --topbar-bg: var(--p-surface-950);
    --topbar-menu-button-bg: var(--primary-color);
    --topbar-menu-button-text-color: var(--primary-color-text);
    --topbar-item-text-color: #ffffff;
    --topbar-border-color: var(--p-content-border-color);
}
